@model IEnumerable<AspTry_1.Models.Gorevler>


@if (Session["kuladi"] == null)
{
    Response.Redirect("../login");
}
@if (Session["yetki"] == "1")
{
    <li class="nav-item">
        <a class="nav-link" href="~/arizaKaydi/arizaKayitIslem">
            <i class="fas fa-fw fa-chart-pie"></i>
            <span>Birim Yönetimi</span>
        </a>
    </li>
}

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>

        <!---Gelen işlem -->
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3" style="color:#5AD3D1;">
                <div class="card text-white  o-hidden h-100" style=" background-color:#5AD3D1;">
                    <a href="../gelenIslem/gelenIslemler">
                        <div class="card-body" style="color:white; font-size:20px; ">
                            <div class="card-body-icon" style="color:black;">
                                <i class="fas fa-fw fa-exchange"></i>

                            </div>
                            <div class="mr-5">Yeni Gelen İşler</div>
                        </div>
                    </a>
                   
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-warning o-hidden h-100">
                    <a style="color:white" href="~/islemdekiler/devamIslem">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-list"></i>
                            </div>
                            <div class="mr-5">() Devam eden İşler </div>
                        </div>
                    </a>
                    <a class="card-footer text-white clearfix small z-1" href="~/islemdekiler/devamIslem">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-success o-hidden h-100">
                    <a style="color:white" href="../Gorevler/gorevler">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-shopping-cart"></i>
                            </div>
                            <div class="mr-5">() Biten İşler </div>
                        </div>
                    </a>
                    <a class="card-footer text-white clearfix small z-1" href="#">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </div>

            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-danger o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fas fa-fw fa-life-ring"></i>
                        </div>
                        <div class="mr-5">Birim</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="#">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <hr />

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $(".identifyingClass").click(function () {
                    var my_id_value = $(this).attr('data-acanPer');
                    $(".modal-body #data-acanPer").text(my_id_value);
                    var my_id_value2 = $(this).attr('data-baslik');
                    $(".modal-body #data-baslik").text(my_id_value2);
                    var my_id_value3 = $(this).attr('data-tarih');
                    $(".modal-body #data-tarih").text(my_id_value3);
                    var my_id_value4 = $(this).attr('data-aciklama');
                    $(".modal-body #data-aciklama").html(my_id_value4);

                    var my_id_value5 = $(this).attr('data-birim');
                    $(".modal-body #data-birim").text(my_id_value5);

                    var dataId = $(this).attr('data-id');
                    $(".modal-body #data-idget").val(dataId);




                })
            });

            //  YÖNLENDİRME MODAL BÖLÜMÜNÜN AÇILDIĞINDA YÖNLENDİRİLECEK İŞİN İD SİNİ ALDIM MODALA GÖNDERDİM
            $(function () {
                $(".example-modal1").click(function () {
                    var my_id_value = $(this).attr('data-id');
                    $(".modal-body #getId").val(my_id_value);


                })
            });




        </script>
    </head>
    <!-- YÖNLENDİRME MODAL BÖLÜMÜ -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Görev Yönlendir</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    @using (Html.BeginForm("yonlendir", "Home", FormMethod.Post))
                    {

                        <div class="form-group">
                            <div class="modal-body">

                                <div class="col-md-12">
                                    <!--id yi textbox ile görmek istedim hidden özelliği ile görünmez yapabilirsin. -->
                                    <input type="text" name="gorevId" id="getId" value="" hidden />


                                    <div class="row">
                                        @{
                                            using (AspTry_1.Models.DatabaseDBEntities4 birimPer = new AspTry_1.Models.DatabaseDBEntities4())
                                            {


                                                string birim = Session["birim"].ToString().Trim();
                                                string kulAdi = Session["kulAdi"].ToString().Trim();

                                                List<AspTry_1.Models.kullanicilar> zBul = (from y in birimPer.kullanicilar where y.birim == birim where y.yetki != "1" where y.kulAdi != kulAdi select y).ToList();

                                                foreach (var item in zBul)
                                                {
                                                    <input hidden type="text name="kulAdi" value="@item.kulAdi" />

                                                    <div class="row">



                                                        <div style="margin-bottom:15px; margin-left:15px; margin-top:15px; margin-right:15px;">

                                                            <div>
                                                                <input type="radio" id="kuladi" name="kulAdi" value="@item.kulAdi" />
                                                                <label for="kuladi">
                                                                    <img style="border-radius:50px; width:85px; height:85px;" src="@Url.Content(item.foto)" alt="Alternate Text" />
                                                                    <span style="color:darkgreen; font-size:17px;">@item.AdSoyad</span>
                                                                </label>&nbsp;

                                                            </div>&nbsp;
                                                        </div>

                                                        @*</div>*@

                                                    </div>
                                                }


                                            }

                                        }
                                        <br />
                                    </div>

                                </div>
                            </div>

                        </div>



                        @*<button type="submit" class="btn btn-warning" data-dismiss="modal">Yönlendir</button>*@

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            <input type="submit" name="name" value="Yönlendir" style="color:white" class="btn btn-warning" />

                        </div>
                    }
                </div>



            </div>
        </div>
    </div>

    <!-- YÖNLENDİRME MODAL BÖLÜMÜ  BİTİŞ -->
    <!-- GÖREV ÜSLENME MODAL BÖLÜMÜ -->

    <div class="modal fade bd-example-modal-lg" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="my_modalLabel">
        <div class="modal-dialog modal-lg" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="~/images.png" alt="Alternate Text" />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                </div>

                <!--GÖREV ÜSTLENME-->

                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                    <div class="modal-body">

                        <div class="form-group col-md-12">
                            <div class="row">

                                <h5 id="data-acanPer"> </h5> &nbsp; | &nbsp;
                                <h5 id="data-birim"> </h5> &nbsp; | &nbsp;
                                <h5 id="data-tarih"></h5>  &nbsp;


                                <input type="text" name="idget" id="data-idget" value="" hidden />

                            </div>
                            <hr />
                            <h5 name="aciklama" id="data-aciklama"></h5><br />
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" id="message-text"></textarea>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>

                        <button type="submit" class="btn btn-success">Listeye al</button>

                    </div>
                }
            </div>
        </div>
    </div>
    <!-- GÖREV ÜSLENME MODAL BÖLÜMÜ BİTİŞ -->
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header" style="text-align:center">
            <h4 style="color:black">Arıza kayıtları</h4>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Durum </th>
                            <th>İş Başlık</th>
                            <th>İçerik Açıklama</th>
                            <th>Tarih</th>
                            <th>Birim</th>
                            <th>Açan Personel</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Durum</th>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Açan Personel</th>


                        </tr>
                    </tfoot>
                    <tbody>

                        @{if (Model != null)
                            {
                                foreach (var item in Model)

                                {
                                    <tr>
                                        <td>

                                            @{
                                                if (@item.Durum == "olmadi")
                                                {

                                                    <div style="margin-right:auto; margin-left:auto">



                                                        <img title="İşleme alınmamış görev" style="margin-left:45px" src="~/tasking32.png" />
                                                        <hr />

                                                        <a href="#" class="example-modal1" data-toggle="modal" data-target="#exampleModal" data-id="@item.Id" title="Görevi yönlendir">
                                                            <img style="margin-left:45px" src="~/rotation.png" />
                                                        </a>
                                                        @* <button class="btn btn-info example-modal1" data-toggle="modal" data-target="#exampleModal" data-id="@item.Id"  >Yönlendir</button>*@

                                                    </div>
                                                }
                                            }

                                        </td>


                                        <td data-aciklama="@item.Aciklama" data-baslik="@item.isbaslik" data-acanPer="@item.PersonelAdSoyad" data-tarih="@item.Tarih" data-birim="@item.Birim" data-target="#my_modal" data-toggle="modal" class="identifyingClass" data-id="@item.Id">@item.isbaslik</td>
                                        <td data-aciklama="@item.Aciklama" data-baslik="@item.isbaslik" data-acanPer="@item.PersonelAdSoyad" data-tarih="@item.Tarih" data-birim="@item.Birim" data-target="#my_modal" data-toggle="modal" class="identifyingClass" data-id="@item.Id">@item.Aciklama</td>
                                        <td data-aciklama="@item.Aciklama" data-baslik="@item.isbaslik" data-acanPer="@item.PersonelAdSoyad" data-tarih="@item.Tarih" data-birim="@item.Birim" data-target="#my_modal" data-toggle="modal" class="identifyingClass" data-id="@item.Id">@item.Tarih</td>
                                        <td data-aciklama="@item.Aciklama" data-baslik="@item.isbaslik" data-acanPer="@item.PersonelAdSoyad" data-tarih="@item.Tarih" data-birim="@item.Birim" data-target="#my_modal" data-toggle="modal" class="identifyingClass" data-id="@item.Id">@item.Birim</td>
                                        <td data-aciklama="@item.Aciklama" data-baslik="@item.isbaslik" data-acanPer="@item.PersonelAdSoyad" data-tarih="@item.Tarih" data-birim="@item.Birim" data-target="#my_modal" data-toggle="modal" class="identifyingClass" data-id="@item.Id">@item.PersonelAdSoyad</td>

                                    </tr>


                                }
                            }
                            else
                            {
                                <h4>Kayıt Yok</h4>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>





</div>






